@using Dominio

@{
    ViewData["Title"] = "Compras de mayor valor";
}

<h1>Compras de mayor valor</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de la Actividad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total de la compra</th>


        </tr>
    </thead>
    <tbody>
        @foreach (Compra item in @ViewBag.Compras)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.NombreActividad()</td> 
                <th scope="row">@item.FechaYHora.ToShortDateString()</th>
                <td>$@item.TotalDeCompra()</td>
            </tr>
        }
    </tbody>
</table>